/* @font-face {
  src: url("AkzidenzGrotesk-Cond.otf");
  font-family: "AkzidenzGrotesk-Cond";
} */
@font-face {
  src: url("AkzidenzGrotesk-Cond.otf");
  font-family: "AkzidenzGrotesk";
}
.profile-info {
  display: flex;
  justify-content: space-between;
}
.myaccount {
  color: #050505;
  padding: 24px;
  font-size: 21px;
  font-weight: 500;
}

.information-box {
  text-transform: uppercase;
  width: 300px;
  min-height: 300px;
  position: relative;
  padding: 30px 24px;
  border-radius: 10px;
  background: #050505;
  color: white;
}
.information-box h2 {
  font-weight: 100;
}
.orders-container {
  background: #050505;
  color: #fff;
  width: 70%;
  margin-top: 70px;
  padding: 20px 30px;
  justify-content: space-between;
}
.account-information {
  font-family: "AkzidenzGrotesk";
}

.logout-btn {
  border-radius: 10px;
  background: #050505;
  color: #fff;
  padding: 15px 20px;
  font-size: 10px;
  margin-top: 10px;
  width: 93px;
  border: 1px solid #000;
  transition: all 0.3s cubic-bezier(0.3, 0, 0.2, 1);
}
.logout-btn:hover {
  background-color: #fff;
  color: #000;
}
.orders-container {
  border-radius: 9px;
}
.orders-container a {
  /* display: flex;
  justify-content: end; */
  margin-left: 750px;
  font-family: "AkzidenzGrotesk";
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding: 0 20px;
  transition: all 0.3s cubic-bezier(0.3, 0, 0.2, 1);
}

.orders-container a:hover {
  background-color: white;
  color: #050505;
  font-weight: 700;
  border-radius: 3px;
}

@media only screen and (max-width: 767px) {
  .profile-info {
    flex-direction: column;
  }
  .orders-container {
    margin-top: 20px;
  }
  .orders-container {
    padding: 10px 20px;
    width: 90%;
  }
}

/* Apply general styling to the table */
table {
  font-size: 20px;
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  margin-bottom: 100px;

  font-family: "AkzidenzGrotesk";
}

/* Style the table header */

th {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

td:first-child {
  width: 50px;
}

.view-btn {
  border: 1px solid white;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  font-size: 13px;
  padding: 5px 10px;
  border-radius: 15px;
  cursor: pointer;
}

.view-btn:hover {
  border: 1px solid white;
  background-color: #050505;
  color: white;
}
